# This .gitignore file should be placed at the root of your Unity project directory
#
# Get latest from https://github.com/github/gitignore/blob/master/Unity.gitignore
#
/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Mm]emoryCaptures/

*.DS_Store
*.hxtypes
*.idea
*.iml
*.lnk
*.n
*.pidb
*.pyc
*.pyc.meta
*.suo
*.swp
*.user
*.userprefs
*.vsp
*.unity3d

*.lo
*.la
*.rej
*.csproj.DotSettings
*.csproj.DotSettings.meta
*.csproj.meta
*.unityproj

# Editors
.vs
.vscode
**/Assets/BuildReports*
**/Assets/Editor/Utilities/PlayStudiosPrefsSettings.asset*
**/Assets/Plugins/Editor.meta
**/Editor/[Jj]etBrains/
**/Editor/[Jj]etBrains.meta
**/Assets/Plugins/GitHub/
**/Assets/Plugins/GitHub.meta
**/Assets/**/_Local/
**/Assets/**/_Local.meta
**/Assets/StreamingAssets/

Debug/
Release/

builds

.vs
.vscode
*.sln
*.csproj
obj/Debug
UnityVS.unity.sln.DotSettings
Library
Temp
Logs

Assets/Assembly-

*.cs.orig*

